{% extends 'base.html' %}

{% block content %}
{% load static %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
	  <div class="container-full">
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="d-flex align-items-center">
				<div class="me-auto">
					<h4 class="page-title">User Table</h4>
					<div class="d-inline-block align-items-center">
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
								<li class="breadcrumb-item" aria-current="page">Inwarding</li>
								<li class="breadcrumb-item active" aria-current="page">User Table</li>
							</ol>
					  </nav>
				  </div>
			  </div>
				
			</div>
		</div>

		<!-- Main content -->
		<section class="content">
		  <div class="row">

			<div class="col-12">

			  <div class="box">
				<div class="box-header with-border">
				  <h3 class="box-title">Inwarding Data Table</h3>
				  <h6 class="box-subtitle">Export data to Copy, CSV, Excel, PDF & Print</h6>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<div class="table-responsive">
					  <table id="example" class="table table-bordered table-hover display nowrap margin-top-10 w-p100">
						<thead>
							<tr>
								<th width="300px">Action</th>
								<th width="30px">ID</th>
								<th>Username</th>
								<th>Department</th>
								<th>User Access</th>
								<th>First Name</th>
								<th>Last Name</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><button type="submit" class="btn btn-info">View</button> <button type="submit" class="btn btn-info">Edit</button> <button type="submit" class="btn btn-info">Delete</button></td>
								<td>1</td>
								<td>raliwalas</td>
								<td>IT & SIM</td>
								<td>Administrator</td>
								<td>Rodel Mc Felpe</td>
								<td>Aliwalas</td>
							</tr>
							<tr>
								<td><button type="submit" class="btn btn-info">View</button> <button type="submit" class="btn btn-info">Edit</button> <button type="submit" class="btn btn-info">Delete</button></td>
								<td>1</td>
								<td>raliwalas</td>
								<td>IT & SIM</td>
								<td>Administrator</td>
								<td>Rodel Mc Felpe</td>
								<td>Aliwalas</td>
							</tr>
							<tr>
								<td><button type="submit" class="btn btn-info">View</button> <button type="submit" class="btn btn-info">Edit</button> <button type="submit" class="btn btn-info">Delete</button></td>
								<td>1</td>
								<td>raliwalas</td>
								<td>IT & SIM</td>
								<td>Administrator</td>
								<td>Rodel Mc Felpe</td>
								<td>Aliwalas</td>
							</tr>
							<tr>
								<td><button type="submit" class="btn btn-info">View</button> <button type="submit" class="btn btn-info">Edit</button> <button type="submit" class="btn btn-info">Delete</button></td>
								<td>1</td>
								<td>raliwalas</td>
								<td>IT & SIM</td>
								<td>Administrator</td>
								<td>Rodel Mc Felpe</td>
								<td>Aliwalas</td>
							</tr>
							<tr>
								<td><button type="submit" class="btn btn-info">View</button> <button type="submit" class="btn btn-info">Edit</button> <button type="submit" class="btn btn-info">Delete</button></td>
								<td>1</td>
								<td>raliwalas</td>
								<td>IT & SIM</td>
								<td>Administrator</td>
								<td>Rodel Mc Felpe</td>
								<td>Aliwalas</td>
							</tr>
							<tr>
								<td><button type="submit" class="btn btn-info">View</button> <button type="submit" class="btn btn-info">Edit</button> <button type="submit" class="btn btn-info">Delete</button></td>
								<td>1</td>
								<td>raliwalas</td>
								<td>IT & SIM</td>
								<td>Administrator</td>
								<td>Rodel Mc Felpe</td>
								<td>Aliwalas</td>
							</tr>
							<tr>
								<td><button type="submit" class="btn btn-info">View</button> <button type="submit" class="btn btn-info">Edit</button> <button type="submit" class="btn btn-info">Delete</button></td>
								<td>1</td>
								<td>raliwalas</td>
								<td>IT & SIM</td>
								<td>Administrator</td>
								<td>Rodel Mc Felpe</td>
								<td>Aliwalas</td>
							</tr>
							<tr>
								<td><button type="submit" class="btn btn-info">View</button> <button type="submit" class="btn btn-info">Edit</button> <button type="submit" class="btn btn-info">Delete</button></td>
								<td>1</td>
								<td>raliwalas</td>
								<td>IT & SIM</td>
								<td>Administrator</td>
								<td>Rodel Mc Felpe</td>
								<td>Aliwalas</td>
							</tr>
							<tr>
								<td><button type="submit" class="btn btn-info">View</button> <button type="submit" class="btn btn-info">Edit</button> <button type="submit" class="btn btn-info">Delete</button></td>
								<td>1</td>
								<td>raliwalas</td>
								<td>IT & SIM</td>
								<td>Administrator</td>
								<td>Rodel Mc Felpe</td>
								<td>Aliwalas</td>
							</tr>
							<tr>
								<td><button type="submit" class="btn btn-info">View</button> <button type="submit" class="btn btn-info">Edit</button> <button type="submit" class="btn btn-info">Delete</button></td>
								<td>1</td>
								<td>raliwalas</td>
								<td>IT & SIM</td>
								<td>Administrator</td>
								<td>Rodel Mc Felpe</td>
								<td>Aliwalas</td>
							</tr>
							<tr>
								<td><button type="submit" class="btn btn-info">View</button> <button type="submit" class="btn btn-info">Edit</button> <button type="submit" class="btn btn-info">Delete</button></td>
								<td>1</td>
								<td>raliwalas</td>
								<td>IT & SIM</td>
								<td>Administrator</td>
								<td>Rodel Mc Felpe</td>
								<td>Aliwalas</td>
							</tr>
							<tr>
								<td><button type="submit" class="btn btn-info">View</button> <button type="submit" class="btn btn-info">Edit</button> <button type="submit" class="btn btn-info">Delete</button></td>
								<td>1</td>
								<td>raliwalas</td>
								<td>IT & SIM</td>
								<td>Administrator</td>
								<td>Rodel Mc Felpe</td>
								<td>Aliwalas</td>
							</tr>
						</tbody>				  
					</table>
					</div>              
				</div>
				<!-- /.box-body -->
			  </div>
			  <!-- /.box -->          
			</div>
			<!-- /.col -->
		  </div>
		  <!-- /.row -->
		</section>
		<!-- /.content -->
	  
	  </div>
  </div>
  <!-- /.content-wrapper -->

  {% endblock %}